<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GWTReportUI.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
 <servlet>
    <servlet-name>serverProxy</servlet-name>
    <servlet-class>com.axioma.reportui.server.ServerProxy</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>serverProxy</servlet-name>
    <url-pattern>/gwtreportui/serverProxy</url-pattern>
  </servlet-mapping>  

</web-app>
