/* Formatting specific to the GWT Report UI application */

body {
  padding: 10px;
}

/* task table header row */
.taskHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* task table */
.taskTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

.errorMessage {
  color: red;
}

.clearEventsButton {
  display: block;
  font-size: 16pt;
}

.closeButton {
    float:center;
}
